{% extends "tool-layout-1.html" %}

{% block window_title %}pfkit/compile{% endblock %}

{% block tool_name %}compile{% endblock %}

{% block tool_abstract %}
Generates an optimal DNA library which is coding for a target amino-acid profile,
while satisfying a set of hard constraints.
{% endblock %}

{% block script %}
{{ super() }}
  <script src="/static/js/vendor/moment.min.js" ></script>
  <script src="/static/js/cloud-ui/pfkit/compile.js" ></script>
{%- endblock %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li class="disabled">pfkit</li>
<li>
  <span class="show-for-sr">Current: </span>compile
</li>
{% endblock %}

{% block input_form %}
<label>Input file
<input type="file" id="input-file">
</label>
<p class="help-text" id="input-file-help">Amino-acid profile file</p>

<label>Transcription table
<select id="transcript-table">
</select>
</label>
<p class="help-text" id="transcript-table-set-help">DNA transcription table to use</p>

<label>Unwanted codons
<input type="text" placeholder="None" id="unwanted-codon-set">
</label>
<p class="help-text" id="unwanted-codon-set-help">Codon that should be avoided, as comma-separated list</p>

<label>No consecutive codon repeat
<input type="checkbox" id="no-consecutive-codon-repeat">
</label>
<p class="help-text" id="no-consecutive-codon-repeat-help">Avoid consecutive repetitions of the same codon</p>

<label>Max. base repeat
<input type="number" id="max-base-repeat">
</label>
<p class="help-text" id="max-base-repear-help">Maximum consecutive occurences of the same base</p>

<label>Max. substring length
<input type="number" id="max-substring-len">
</label>
<p class="help-text" id="max-substring-len">Maximum length for duplicated substrings</p>

<label>Max. library size
<input type="number" id="max-library-size">
</label>
<p class="help-text" id="max-library-size">Maximum size for the DNA library</p>
{% endblock %}

