{% extends "article-layout.html" %}

{% block window_title %}Cloud UI{% endblock %}


{% block breadcrumbs %}
<li>
  <span class="show-for-sr">Current: </span>Home
</li>
{% endblock %}

{% block article_title %}Welcome !{% endblock %}

{% block article_content %}
<img class="thumbnail" src="http://placehold.it/850x350">
<p>
CloudUI allows you to submit jobs to Adagene's Cloud Service, and visualize the
results. You do not have to install any software. Just being here, using your
web browser, you are ready to make some science !
</p>
<p>
You can select a tool using the menu bar at the top of the page. This menu bar
will always stays around. The <i>breadcrumbs</i>, just under the menu bar but 
above this page content, shows you where you are in <i>CloudUI</i>.
</p>
{% endblock %}
