.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 10px;
}

.bar {
  fill: rgb(12, 47, 90);
}

.bar:hover {
  fill: rgb(32, 88, 22);
}

#xaxis path {
  display: none;
  font-size: 6px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 5px;
  font-size: 9px;
  background: rgba(0, 0, 0, 0.8);
  color: red;
  border-radius: 2px;
}
