{% extends "tool-layout-1.html" %}

{% block window_title %}olkit/deflate{% endblock %}

{% block tool_name %}deflate{% endblock %}

{% block tool_abstract %}
Extract the non-degenerate codons from a degenerate DNA sequence
{% endblock %}

{% block script %}
{{ super() }}
  <script src="/static/js/cloud-ui/olkit/deflate.js" ></script>
{%- endblock %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li class="disabled">olkit</li>
<li>
  <span class="show-for-sr">Current: </span>deflate
</li>
{% endblock %}

{% block input_form %}
<label>Input file
<input type="file" id="input-file">
</label>
<p class="help-text" id="input-file-help">Named degenerate DNA sequence file</p>

<label>Tracked codons
<input type="text" placeholder="None" id="input-special-codon-set">
</label>
<p class="help-text" id="input-special-codon-set-help">Codons to track in the input sequences, as a comma-separated list</p>
{% endblock %}

