{% extends "tool-layout-1.html" %}

{% block window_title %}olkit/molweight{% endblock %}

{% block tool_name %}molweight{% endblock %}

{% block tool_abstract %}
Computes the probability distribution of the molecular weight of a degenerate DNA sequence.
{% endblock %}

{% block script %}
{{ super() }}
  <script src="/static/js/cloud-ui/olkit/molweight.js" ></script>
{%- endblock %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li class="disabled">olkit</li>
<li>
  <span class="show-for-sr">Current: </span>molweight
</li>
{% endblock %}

{% block input_form %}
<label>Input file
<input type="file" id="input-file">
</label>
<p class="help-text" id="input-file-help">Named degenerate DNA sequence file</p>
{% endblock %}

