{% extends "base-layout.html" %}

{% block breadcrumbs %}
  <li><a href="/">Lost</a></li>
{% endblock %}

{% block page_content %}
<div class="row medium-8 large-7 columns">
  <div class="blog-post">
    <h2>{% block article_title %}404 Page Not Found{% endblock %}</h2>
    {% block article_content %}
    <h4>
      You're in the wrong area! Use the above menus to find the
      right page or press the link below to go home.
    </h4>
    <h4><a href="{{ url_for('index') }}">Home</a></h4>
    {% endblock %}
  </div>
</div>
{% endblock %}
