{#-
-------------------------------------------------------------------------------
Jesse Luo, Alexandre Devert, Adagene Inc.
Copyright (c) 2016 All Rights Reserved.

Base template for article pages.
-------------------------------------------------------------------------------
-#}
{% extends "base-layout.html" %}

{% block window_title %}{{ super() }}{% endblock %}

{% block breadcrumbs %}
{{ super() }}
{% endblock %}

{% block page_content %}
<div class="row medium-8 large-7 columns">
  <div class="blog-post">
    <h3>{% block article_title %}Lorem ipsum dolor{% endblock %}</h3>
    {% block article_content %}
    <img class="thumbnail" src="http://placehold.it/850x350">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
    sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    {% endblock %}
  </div>
</div>
{% endblock %}
