{#-
-------------------------------------------------------------------------------
Jesse Luo, Alexandre Devert, Adagene Inc.
Copyright (c) 2016 All Rights Reserved.

Base template for all pages.
-------------------------------------------------------------------------------
-#}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block window_title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/foundation.min.css">
    <link rel="stylesheet" href="/static/css/d3style.css">
  </head>
  <body>
    <div class="top-bar">
      <div class="row">
				{# --- Top bar, left menu ------------------------------------------ #}
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Cloud UI</li>
            <li class="has-submenu">
              <a href="#">olkit</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="/olkit/molweight">molweight</a></li>
                <li><a href="/olkit/deflate">deflate</a></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="#">aakit</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="/aakit/hmmscan">hmmscan</a></li>
                <li><a href="/aakit/profile">profile</a></li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="#">pfkit</a>
              <ul class="submenu menu vertical" data-submenu>
                <li><a href="/pfkit/compile">compile</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
		{# --- Breadcrumb ------------------------------------------------------ #}
    <div class="row columns">
      <nav aria-label="You are here:" role="navigation">
        <ul class="breadcrumbs">
        {% block breadcrumbs %}
          <li><a href="/">Home</a></li>
          <li><a href="#">Features</a></li>
          <li class="disabled">Gene Splicing</li>
          <li>
            <span class="show-for-sr">Current: </span> Cloning
          </li>
        {% endblock %}
        </ul>
      </nav>
    </div>
    {# --- Page content ---------------------------------------------------- #}
    {% block page_content %}
		<div class="row medium-8 large-7 columns">
      <div class="blog-post">
        <h3>Awesome blog post title <small>3/6/2015</small></h3>
        <img class="thumbnail" src="http://placehold.it/850x350">
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    {% endblock %}
    {# --- Footer ---------------------------------------------------------- #}
    <div class="row column">
      <hr>
      <ul class="menu">
        <li>Cloud UI</li>
        <li><a href="/">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li class="float-right">Copyright 2016</li>
        <li class="float-left"> Commit: {{ commit_id }} </li>
      </ul>
    </div>
    {# --- Scripts --------------------------------------------------------- #}
    {% block script %}
    <script src="/static/js/vendor/jquery.min.js" ></script>
    <script src="/static/js/vendor/what-input.min.js"></script>
    <script src="/static/js/vendor/foundation.min.js"></script>
    <script src="/static/js/vendor/d3.min.js"></script>
    <script src="/static/js/vendor/d3tips.js"></script>
    {% endblock %}
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
