{#-
-------------------------------------------------------------------------------
Jesse Luo, Alexandre Devert, Adagene Inc.
Copyright (c) 2016 All Rights Reserved.

Base template for tool pages.
-------------------------------------------------------------------------------
-#}
{% extends "base-layout.html" %}

{% block window_title %}
Lorem ipsum
{% endblock %}

{% block script %}
{{ super() }}
  <script src="/static/js/cloud-ui/cloud.js" ></script>
  <script src="/static/js/cloud-ui/parsing.js" ></script>
  <script src="/static/js/cloud-ui/ui-utils.js" ></script>
{% endblock %}

{% block breadcrumbs %}
{{ super() }}
{% endblock %}

{% block page_content %}
<div class="row">
  {#--- Result display column ---------------------------------------------- #}
  <div class="medium-6 columns">
    {% block left_column %}
		<div id="result-area">
  		<div class="callout">
    		<h5>This is the result area.</h5>
    		<p>Submit a job, the result will appear here !</p>
  		</div>
		</div>
    {% endblock %}
  </div>
  {#--- Form column -------------------------------------------------------- #}
  <div class="medium-6 large-5 columns">
    {% block right_column %}
    <h3>{% block tool_name %}Lorem Ipsum{% endblock %}</h3>
    <p>{% block tool_abstract %}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.{% endblock %}</p>
    <hr/>
    <form id="input-form">
      {% block input_form %}
      <label>Size
        <select>
          <option value="husker">Small</option>
          <option value="starbuck">Medium</option>
          <option value="hotdog">Large</option>
          <option value="apollo">Yeti</option>
        </select>
      </label>
      <div class="row">
        <div class="small-3 columns">
          <label for="middle-label" class="middle">Quantity</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="middle-label" placeholder="One fish two fish">
        </div>
      </div>
      {% endblock %}
    </form>
    <hr/>
		<button id="submit-button" form="input-form" class="button large expanded">Submit</button>
    {% endblock %}
  </div>
</div>
{% endblock %}

