{% extends "tool-layout-1.html" %}

{% block window_title %}aakit/hmmscan{% endblock %}

{% block tool_name %}hmmscan{% endblock %}

{% block tool_abstract %}
Scan a set of amino-acid sequences with <i>HMMER</i>, to search for hits.
{% endblock %}

{% block script %}
{{ super() }}
	<script src="/static/js/cloud-ui/aakit/hmmscan.js" ></script>
{%- endblock %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li class="disabled">aakit</li>
<li>
  <span class="show-for-sr">Current: </span>hmmscan
</li>
{% endblock %}

{% block input_form %}
<label>Input file
<input type="file" id="input-file">
</label>
<p class="help-text" id="input-file-help">Named amino-acid sequence file</p>

<label>Pattern file
<input type="file" id="pattern-file">
</label>
<p class="help-text" id="pattern-file-help">File with unamed amino-acid sequences to look for</p>
{% endblock %}

