{% extends "tool-layout-1.html" %}

{% block window_title %}aakit/profile{% endblock %}

{% block tool_name %}profile{% endblock %}

{% block tool_abstract %}
Generates an optimal amino-acid profile such it can produces a set of amino-acid
sequences, under a set of constraints
{% endblock %}

{% block script %}
{{ super() }}
  <script src="/static/js/cloud-ui/aakit/profile.js" ></script>
{%- endblock %}

{% block breadcrumbs %}
<li><a href="/">Home</a></li>
<li class="disabled">aakit</li>
<li>
  <span class="show-for-sr">Current: </span>profile
</li>
{% endblock %}

{% block input_form %}
<label>Input file
<input type="file" id="input-file">
</label>
<p class="help-text" id="input-file-help">Named amino-acid sequence file</p>

<label>Target size
<input type="number" id="target-size">
</label>
<p class="help-text" id="target-size-help">Target profile size</p>

<label>Min. frequency
<input type="number" id="min-freq">
</label>
<p class="help-text" id="min-freq-help">Minimum occurence freq. to include an amino-acid</p>

<label>Use equivalences
<input type="checkbox" id="use-eq">
</label>
<p class="help-text" id="use-eq-help">Use amino-acid equivalences rules to optimize the profile</p>
{% endblock %}

